@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div ng-app="app">
    <div ng-controller="ticketController as vm" class="col-md-6 col-md-offset-3">
        <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
        <div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i>Loading...</div>
        <table class="table table-responsive table-striped">
            <tr ng-repeat="ticket in vm.tickets">
                <td>Title {{ ticket.title }}</td>
                <td>Owner {{ ticket.owner }}</td>
                <td>Category {{ ticket.category }}</td>
            </tr>
        </table>
        test
    </div>
</div>