<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - DLGP-SVDK</title>

        <environment names="Development">
            <link rel="stylesheet" type="text/css" href="~/css/dist/main.min.css">
            <link rel="stylesheet" type="text/css" href="~/css/dist/vendor.min.css">
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" type="text/css" href="~/css/dist/main.min.css">
            <link rel="stylesheet" type="text/css" href="~/css/dist/vendor.min.css">
        </environment>
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
    <body ng-app="app" ng-controller="masterController">
 
        <environment names="Development">
            <script src="~/js/dist/vendor.min.js"></script>
            <script src="~/js/dist/app.min.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/js/dist/vendor.min.js"></script>
            <script src="~/js/dist/app.min.js"></script>
        </environment>

        <div> 
            @RenderBody()
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
