<!-- Header Bar -->
<form method="post" id="logoutForm" ng-show="globals.currentUser" ng-controller="logoffController" ng-submit="logoff()" ng-init="initFirst()">

    <div class="row header">
        <div class="col-xs-12">
            <div class="user pull-right">
                <div class="item dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        <img src="~/images/avatar.jpg">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                            <span class="text-left"> Welcome <strong>{{ globals.currentUser.userData.userName }}</strong></span>
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                            <a href="#">
                                Profile
                            </a>
                        </li>
                        <li class="link">
                            <a href="#">
                                Menu Item 1
                            </a>
                        </li>
                        <li class="link">
                            <a href="#">
                                Menu Item 2
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                            @*<a href="#/logoff" ng-click="logoff()">*@
                            <button type="submit" class="btn btn-link link">Log off</button>
                            @*</a>*@
                        </li>
                    </ul>
                </div>
                <div class="item dropdown" uib-dropdown style="width:200px;">
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle ng-show="(countUnRead > 0)">
                        <i class="fa fa-bell-o">
                            @*<span class="badge alert-success" ng-show="countNew>0">{{ countNew }}</span>*@
                            <span class="badge alert-danger" ng-show="countUnRead>0">{{ countUnRead }}</span>
                        </i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                            Notifications
                        </li>
                        <li class="divider"></li>
                        <li ng-repeat="item in notifications">
                            <a href="#/editTicket?action=edit&id={{item.ticketId}}" route-refresh mark-notification-as-read>{{ item.ticketId }} - {{ item.title }}</a>
                        </li>
                        <li class="divider"></li>
                        <li><a ng-href ng-click="clearNotifications()">Clear Notifications</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-left dialogLogo"><img src="~/images/Dialog-Logo-Small.png" /></div>
            <div class="meta">
                <div class="page">
                    Service Desk Application
                </div>
                <div class="breadcrumb-links">
                    Home / {{ breadcrumb }}
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Header Bar -->

@*<div ng-hide="globals.currentUser">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#/register">Register</a></li>
        <li><a href="#/login">Log in</a></li>
    </ul>
</div>*@

        @*<form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                </li>
            </ul>
        </form>
        }
        else
        {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>
        }*@
