<div class="row alerts-container" data-ng-controller="alertsController" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <app-widget>
            <app-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="title">80</div>
                <div class="comment">New Tickets</div>
            </app-widget-body>
        </app-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <app-widget>
            <app-widget-body>
                <div class="widget-icon red pull-left">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="title">16</div>
                <div class="comment">On-Hold Tickets</div>
            </app-widget-body>
        </app-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <app-widget>
            <app-widget-body>
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div class="title">225</div>
                <div class="comment">Pending Tickets</div>
            </app-widget-body>
        </app-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <app-widget>
            <app-widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-support"></i>
                </div>
                <div class="title">62</div>
                <div class="comment">Closed Tickets</div>
            </app-widget-body>
        </app-widget>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" data-ng-controller="ticketController as vm">
        <app-widget>
            <app-widget-header icon="fa-tasks" title="Tickets">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search a ticket" ng-model="vm.searchTicket" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create new ticket</a></li>
                            <li><a href="#">My tickets</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </app-widget-header>
            <app-widget-body classes="medium no-padding">
                <!--<div class="alert alert-info">
                    <p>Sort Type: {{ sortType }}</p>
                    <p>Sort Reverse: {{ sortReverse }}</p>
                    <p>Search Query: {{ vm.searchTicket }}</p>
                </div>-->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <!--<tr><th class="text-center">ID</th><th>Title</th><th>Assigned</th></tr>-->
                            <tr>
                                <td>
                                    <a href="#" ng-click="sortType = 'TicketId'; sortReverse = !sortReverse">
                                        <strong>Ticket ID</strong>
                                        <span ng-show="sortType == 'TicketId' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'TicketId' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'ProjectId'; sortReverse = !sortReverse">
                                        <strong>Project ID</strong>
                                        <span ng-show="sortType == 'ProjectId' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'ProjectId' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Title'; sortReverse = !sortReverse">
                                        <strong>Title</strong>
                                        <span ng-show="sortType == 'Title' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Title' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Category'; sortReverse = !sortReverse">
                                        <strong>Category</strong>
                                        <span ng-show="sortType == 'Category' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Category' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'ConfigurationItem'; sortReverse = !sortReverse">
                                        <strong>Configuration Item</strong>
                                        <span ng-show="sortType == 'ConfigurationItem' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'ConfigurationItem' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Priority'; sortReverse = !sortReverse">
                                        <strong>Priority</strong>
                                        <span ng-show="sortType == 'Priority' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Priority' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'AssignedTo'; sortReverse = !sortReverse">
                                        <strong>Assigned To</strong>
                                        <span ng-show="sortType == 'AssignedTo' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AssignedTo' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'CreatedDate'; sortReverse = !sortReverse">
                                        <strong>Created Date</strong>
                                        <span ng-show="sortType == 'CreatedDate' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'CreatedDate' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='ticket in tickets | orderBy:sortType:sortReverse | filter:vm.searchTicket'>
                                <td>{{ ticket.ticketId }}</td>
                                <td>{{ ticket.projectId }}</td>
                                <td>{{ ticket.title }}</td>
                                <td>{{ ticket.categoryId }}</td>
                                <td>{{ ticket.configurationItemId }}</td>
                                <td>{{ ticket.priority }}</td>
                                <td>{{ ticket.assignedTo }}</td>
                                <td>{{ ticket.createdDate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </app-widget-body>
        </app-widget>
    </div>
    <!--<div class="col-lg-6">
        <app-widget>
            <app-widget-header icon="fa-users" title="Users">
                <input type="text" placeholder="Search" class="form-control" />
            </app-widget-header>
            <app-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
                        </thead>
                        <tbody>
                            <tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
                            <tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
                            <tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>
                        </tbody>
                    </table>
                </div>
            </app-widget-body>
            <app-widget>
    </div>-->
</div>

<!--<div class="row">
    <div class="col-lg-6">
        <app-widget>
            <app-widget-header icon="fa-plus" title="Extras">
                <button ng-click="" class="btn btn-sm btn-info">Manage</button>
            </app-widget-header>
            <app-widget-body>
                <div class="message">
                    Maybe an idea of <span class="error">critical tickets in this list!</span>
                </div>
                <hr />
                <div class="message">
                    <a href="#" target="_blank">UI Bootstrap</a> can be used.
                </div>
            </app-widget-body>
        </app-widget>
    </div>
    <div class="col-lg-6">
        <app-widget>
            <app-widget-header icon="fa-cog fa-spin" title="Loading Directive">
                <a href="http://tobiasahlin.com/spinkit/" target="_blank">Example of spinkit</a>
            </app-widget-header>
            <app-widget-body>
                <app-loading>test</app-loading>
            </app-widget-body>
        </app-widget>
    </div>
</div>-->
<!--<div class="row">
    <div class="col-lg-6 col-sm-12" ng-controller="chartController">
        <div class="panel panel-default">
            <div class="panel-heading">Reactive Chart {{series}}</div>
            <div class="panel-body">
                <canvas id="base" class="chart chart-base" chart-type="type2" chart-data="data2" chart-labels="labels2" chart-legend="true"></canvas>
                <button type="button" class="btn btn-primary pull-right" ng-click="toggle()">Toggle</button>
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels"></canvas>
            </div>
        </div>
    </div>
</div>-->
