<form name="editTicket">
    <div ng-controller="ticketCRUDController">
        <h2>Edit Ticket</h2>
        <div class="form-group">
            <label for="ticketId">Ticket ID</label>
            <input type="text" class="form-control" name="ticketId" ng-model="Ticket.ticketId" />
        </div>
        <div class="form-group">
            <label for="ticketTitle">Project ID</label>
            <input type="text" class="form-control" name="ticketProjectId" ng-model="Ticket.projectId" />
        </div>
        <div class="form-group">
            <label for="ticketTitle">Title</label>
            <input type="text" class="form-control" name="ticketTitle" ng-model="Ticket.title" required />
        </div>

        <div>
            <label for="ticketCategory">Category:</label>
            <select name="Category" id="ticketCategory" class="form-control"
                    ng-options="option.value for option in Category.availableOptions track by option.id"
                    ng-model="Category.selectedOption"
                    ng-selected="Ticket.categoryId" ng-change="Ticket.categoryId = Category.selectedOption.id">
                <option value="">-- Select a Category --</option>
            </select>
        </div>

        <div>
            <label for="ticketContactType">Contact Type:</label>
            <select name="ContactType" id="ticketContactType" class="form-control"
                    ng-options="option.value for option in ContactType.availableOptions track by option.id"
                    ng-model="ContactType.selectedOption"
                    ng-selected="Ticket.contactTypeId" ng-change="Ticket.contactTypeId = ContactType.selectedOption.id">
                <option value="">-- Select a Contact Type --</option>
            </select>
        </div>

        <div>
            <label for="ticketConfigurationItem">Configuration Item:</label>
            <select name="ConfigurationItem" id="ticketConfigurationItem" class="form-control"
                    ng-options="option.value for option in ConfigurationItem.availableOptions track by option.id"
                    ng-model="ConfigurationItem.selectedOption"
                    ng-selected="Ticket.configurationItemId" ng-change="Ticket.configurationItemId = ConfigurationItem.selectedOption.id">
                <option value="">-- Select a Configuration Item --</option>
            </select>
        </div>

        <div>
            <label for="ticketTicketStatus">Ticket Status:</label>
            <select name="TicketStatus" id="ticketTicketStatus" class="form-control"
                    ng-options="option.value for option in TicketStatus.availableOptions track by option.id"
                    ng-model="TicketStatus.selectedOption"
                    ng-selected="Ticket.ticketStatus" ng-change="Ticket.ticketStatus = TicketStatus.selectedOption.id">
                <option value="">-- Select a Ticket Status --</option>
            </select>
        </div>

        <div>
            <label for="ticketPriority">Priority:</label>
            <select name="Priority" id="ticketPriority" class="form-control"
                    ng-options="option.value for option in Priority.availableOptions track by option.id"
                    ng-model="Priority.selectedOption"
                    ng-selected="Ticket.priority" ng-change="Ticket.priority = Priority.selectedOption.id">
                <option value="">-- Select a Priority --</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ticketDetails">Details</label>
            <input type="text" class="form-control" name="ticketDetails" ng-model="Ticket.details" required />
        </div>
        <div class="form-group">
            <label for="ticketTagList">Tag List</label>
            <input type="text" class="form-control" name="ticketTagList" ng-model="Ticket.tagList" />
        </div>
        <div class="form-group">
            <label for="ticketAssignedTo">Assigned To</label>
            <input type="text" class="form-control" name="ticketAssignedTo" ng-model="Ticket.assignedTo" required />
        </div>

        <button type="submit" class="btn btn-primary" ng-click="updateTicket(Ticket)">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>
