<form name="editTicket">
    <div ng-controller="ticketCRUDController">
        <h2>Edit Ticket</h2>
        <div class="form-group">
            <label for="ticketID">Ticket ID</label>
            <input type="text" class="form-control" name="ticketID" ng-model="TicketId" />
        </div>
        <div class="form-group">
            <label for="ticketTitle">Title</label>
            <input type="text" class="form-control" name="ticketTitle" ng-model="Title" required />
        </div>
    </div>
</form>
