<div class="container" ng-controller="registerController">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Forgot Password?</h3>
                    </div>

                    <div class="panel-body">
                        <div class="text-center">
                            <h4><i class="fa fa-lock fa-4x"></i></h4>
                            <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
                            <div class="panel-body">

                                <div ng-show="error" class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    {{error}}
                                </div>
                                <form ng-submit="forgotPassword()" role="form" name="form" novalidate>
                                    <fieldset>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon" id="sizing-addon2">@</span>
                                            <input type="email" name="Email" id="Email" class="form-control" placeholder="Email address" ng-model="email" required />
                                        </div>
                                        <div class="errors" ng-show="{ active: form.email.$invalid && form.email.$dirty && form.email.$error.required }">
                                            <div class="error help-block ng-hide" ng-show="form.email.$error.email">
                                                <p>This is not a valid email!</p>
                                            </div>
                                            <div class="error ng-hide" ng-show="form.email.$error.required">
                                                <p>Email is required!</p>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-block">Send My Password</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <br />
                                <span>Already have an account?</span><a href="#/login"> login here</a>
                                <span>New user?</span><a href="#/register"> create new account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
