<div class="row alerts-container" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
</div>

<div class="col-md-12" ng-controller="ticketController">

    <form name="form" ng-submit="AddTicket(Ticket)" role="form" novalidate>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <label for="title">Title</label>
                        <input class="form-control" type="text" name="title" id="title" placeholder="Please enter title here" ng-model="Ticket.title" required />
                        <span class="label label-danger" ng-show="form.title.$dirty && form.title.$error.required" class="help-block">Title is required !</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label for="priority">Priority:</label>
                        <select name="priority" id="priority" class="form-control" required
                                ng-options="option.name for option in Priority.availableOptions track by option.priorityId"
                                ng-model="Priority.selectedOption"
                                ng-selected="Ticket.priorityId" ng-change="Ticket.priority = Priority.selectedOption.priorityId">
                            <option value="">-- Select a Priority --</option>
                        </select>
                        <span class="label label-danger" ng-show="form.priority.$dirty && form.priority.$error.required" class="help-block">Priority is required !</span>
                    </div>

                    <div class="col-md-3">
                        <label for="category">Category:</label>
                        <select name="category" id="category" class="form-control" required
                                ng-options="option.name for option in Category.availableOptions track by option.categoryId"
                                ng-model="Category.selectedOption"
                                ng-selected="Ticket.categoryId" ng-change="Ticket.categoryId = Category.selectedOption.categoryId">
                            <option value="">-- Select a Category --</option>
                        </select>
                        <span class="label label-danger" ng-show="form.category.$dirty && form.category.$error.required" class="help-block">Category is required !</span>
                    </div>

                    <div class="col-md-3">
                        <label for="TicketStatus">Ticket Status:</label>
                        <select name="TicketStatus" id="TicketStatus" class="form-control" required
                                ng-options="option.name for option in TicketStatus.availableOptions track by option.ticketStatusId"
                                ng-model="TicketStatus.selectedOption"
                                ng-selected="Ticket.ticketStatusId" ng-change="Ticket.ticketStatus = TicketStatus.selectedOption.ticketStatusId">
                            <option value="">-- Select a Ticket Status --</option>
                        </select>
                        <span class="label label-danger" ng-show="form.TicketStatus.$dirty && form.TicketStatus.$error.required" class="help-block">Ticket Status is required !</span>
                    </div>

                    <div class="col-md-3">
                        <label for="AssignedTo">Assigned To:</label>
                        <select name="AssignedTo" id="AssignedTo" class="form-control" 
                                ng-options="option.userName for option in Users.availableOptions track by option.id"
                                ng-model="Users.selectedOption"
                                ng-selected="Ticket.assignedTo" ng-change="Ticket.assignedTo = Users.selectedOption.id">
                            <option value="">-- Select a Assigned To --</option>
                        </select>
                        <!--<span class="label label-danger" ng-show="form.AssignedTo.$dirty && form.AssignedTo.$error.required" class="help-block">Assigned To is required !</span>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label for="project">Project:</label>
                        <select name="project" id="project" class="form-control" required
                                ng-options="option.projectName for option in Projects.availableOptions track by option.projectId"
                                ng-model="Projects.selectedOption"
                                ng-selected="Ticket.projectId" ng-change="Ticket.projectId = Projects.selectedOption.projectId">
                            <option value="">-- Select a Project --</option>
                        </select>
                        <span class="label label-danger" ng-show="form.project.$dirty && form.project.$error.required" class="help-block">Project is required !</span>
                    </div>


                    <div class="col-md-3">
                        <label for="ContactType">Contact Type:</label>
                        <select name="ContactType" id="ContactType" class="form-control" required
                                ng-options="option.name for option in ContactType.availableOptions track by option.contactTypeId"
                                ng-model="ContactType.selectedOption"
                                ng-selected="Ticket.contactTypeId" ng-change="Ticket.contactTypeId = ContactType.selectedOption.contactTypeId">
                            <option value="">-- Select a Contact Type --</option>
                        </select>
                        <span class="label label-danger" ng-show="form.ContactType.$dirty && form.ContactType.$error.required" class="help-block">Contact Type is required !</span>
                    </div>

                    <div class="col-md-3">
                        <label for="ConfigurationItem">Configuration Item:</label>
                        <select name="ConfigurationItem" id="ConfigurationItem" class="form-control" required
                                ng-options="option.name for option in ConfigurationItem.availableOptions track by option.configurationItemId"
                                ng-model="ConfigurationItem.selectedOption"
                                ng-selected="Ticket.configurationItemId" ng-change="Ticket.configurationItemId = ConfigurationItem.selectedOption.configurationItemId">
                            <option value="">-- Select a Configuration Item --</option>
                        </select>
                        <span class="label label-danger" ng-show="form.ConfigurationItem.$dirty && form.ConfigurationItem.$error.required" class="help-block">Configuration Item is required !</span>
                    </div>

                    <div class="col-md-3">
                        <label for="ticketTagList">Tag List</label>
                        <input type="text" class="form-control" name="ticketTagList" ng-model="Ticket.tagList" placeholder="Please enter tags here" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="details">Details</label>
                        <textarea ng-model="Ticket.details" class="form-control" id="details" name="details" cols="10" rows="5" required 
                                  placeholder="Please enter details here"></textarea>
                        <span class="label label-danger" ng-show="form.details.$dirty && form.details.$error.required" class="help-block">Details is required !</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>