<div class="row" ng-controller="pipeCtrl as mc">
    <table st-pipe="mc.callServer" st-table="mc.displayed" st-set-filter="myStrictFilter" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="ticketId">id</th>
                <th st-sort="status.name">name</th>
                <th st-sort="project.projectName">project</th>
                <th st-sort="title">title</th>
            </tr>
            <tr>
                <th><input st-search="ticketId" placeholder="search for id" class="input-sm form-control" type="search" /></th>
                <!--<th><input st-search="status.name" placeholder="search for ticket status" class="input-sm form-control" type="search"/></th>-->
                <th>
                    <select st-search="status.name">
                        <option value="">All</option>
                        <option ng-repeat="row in mc.displayed | unique:'status.name'" value="{{row.status.name}}">{{row.status.name}}</option>
                    </select>
                </th>
                <th><input st-search="project.projectName" placeholder="search for project name" class="input-sm form-control" type="search"/></th>
                <th><input st-search="title" placeholder="search for ticket title" class="input-sm form-control" type="search"/></th>
            </tr>
        </thead>
        <tbody ng-show="!mc.isLoading">
            <tr ng-repeat="row in mc.displayed">
                <td>{{row.ticketId}}</td>
                <td>{{row.status.name}}</td>
                <td>{{row.project.projectName}}</td>
                <td>{{row.title}}</td>
            </tr>
        </tbody>
        <tbody ng-show="mc.isLoading">
            <tr>
                <td colspan="4" class="text-center"><app-loading ng-show="mc.isLoading"></app-loading></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
            </tr>
        </tfoot>
    </table>	
</div>